torch
tqdm
rotary_embedding_torch
transformers==4.31.0
tokenizers
inflect
progressbar
einops==0.4.1
unidecode
scipy
librosa==0.9.1
ffmpeg
numpy
numba
torchaudio
threadpoolctl
llvmlite
appdirs
nbconvert==5.3.1
tornado==4.2
pydantic==1.9.1
libaio1
libaio-dev
deepspeed==0.8.3
py-cpuinfo
hjson
psutil
lazy-loader
requests
Pillow
ffmpeg-python
python-dotenv
pydub
vocos
moviepy
pandas
soundfile
regex
joblib
fairseq
faiss-cpu
Cython
Jinja2
json5
Markdown
matplotlib
matplotlib-inline
praat-parselmouth
resampy
Werkzeug
uc-micro-py
sympy
tabulate
PyYAML
pyasn1
pyasn1-modules
fsspec
absl-py
audioread
uvicorn
colorama
pyworld
httpx
onnxruntime-gpu
fastapi
ffmpy
av
scikit-learn
tensorboard
tensorboardX
safetensors
torchcrepe
torchvision
tokenizers
